<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
</head>

<body>
    <form method="POST" action="/ragistration">
        <input type="text" name="post0">
        <input type="text" name="post1">
        <input type="text" name="post2">
        <input type="submit" value="POST送信">
    </form>
    
</body>
</html>